@tailwind base;
@tailwind components;
@tailwind utilities;

$color-primary: black;

html,
body,
#__next {
  height: 100%;
}

.blinking-cursor > :last-child:after {
  content: '|';
  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 170px;
  position: sticky;
}

.cat {
  transition: transform 0.5s;
}

.cat:hover {
  transform: scale(1.1);
  z-index: 1;
}

.title {
  margin-bottom: 25px;
  font-weight: 800;
  color: $color-primary;
}


